canvas {
  @media (min-width: 1919px) and (min-height: 1000px) {
    max-height: 580px !important;
    height: 580px !important;
    max-width: 580px !important;
    width: 580px !important;
  }

  @media (min-width: 968px) and (max-width: 1918px) {
    max-height: 530px !important;
    height: 530px !important;
    max-width: 530px !important;
    width: 530px !important;
  }

  @media (min-width: 768px) and (max-width: 967px) {
    max-height: 500px !important;
    height: 500px !important;
    max-width: 500px !important;
    width: 500px !important;
  }

  @media (min-width: 500px) and (max-width: 767px) {
    max-height: 450px !important;
    height: 450px !important;
    max-width: 450px !important;
    width: 450px !important;
  }

  @media (min-width: 374px) and (max-width: 499px) {
    max-height: 350px !important;
    height: 350px !important;
    max-width: 350px !important;
    width: 350px !important;
  }

  @media (max-width: 373px) {
    max-height: 310px !important;
    height: 310px !important;
    max-width: 310px !important;
    width: 310px !important;
  }
}

.doughnut-container {
  position: relative;
  display: flex;
  overflow: hidden;
  z-index: 1;

  @media (min-width: 768px) {
    overflow: visible;
  }
}

.doughnut-container__addittional {
  display: flex;
  flex-direction: column;
}

.doughnut-container__month-label {
  text-align: center;
  font-size: 24px;
  color: orchid;
}

.doughnut-container__label {
  text-align: center;
  font-size: 24px;
  color: orchid;

  @media (min-width: 319px) and (max-width: 390px) {
    font-size: 20px;
  }
}

.arrow {
  @media (min-width: 319px) and (max-width: 374px) {
    top: 33%;
  }

  @media (min-width: 375px) and (max-width: 450px) {
    top: 35%;
  }

  @media (min-width: 768px) {
    top: 40%;
    padding: 2rem;
  }

  z-index: 2;
  cursor: pointer;
  padding: 1.3rem;
  /* Above is arrow size */
  position: absolute;
  top: 40%;
  box-shadow: 3px -3px 0 1px plum inset;
  border: 5px solid transparent;
  border-width: 0 0 2rem 2rem;
  transition: 0.2s;
}

.arrow:hover {
  box-shadow: 2px -2px 0 2px orchid inset;
}

.arrow-right {
  @media (min-width: 320px) and (max-width: 450px) {
    left: 81%;
  }

  @media (min-width: 390px) and (max-width: 450px) {
    left: 87%;
  }

  @media (min-width: 451px) and (max-width: 767px) {
    left: 90%;
  }

  @media (min-width: 768px) and (max-width: 967px) {
    left: 92%;
  }

  @media (min-width: 968px) {
    left: 96%;
  }

  transform: rotate(225deg);
  left: 87%;
}

.arrow-left {
  @media (min-width: 320px) and (max-width: 390px) {
    right: 81%;
  }

  @media (min-width: 390px) and (max-width: 450px) {
    right: 87%;
  }

  @media (min-width: 451px) and (max-width: 767px) {
    right: 90%;
  }

  @media (min-width: 768px) and (max-width: 967px) {
    right: 92%;
  }

  @media (min-width: 968px) {
    right: 96%;
  }

  transform: rotate(45deg);
  right: 87%;
}
